src/main/app/mule-file-connector-service-overrides.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:connector name="file-connector" autoDelete="true"
		streaming="true" validateConnections="true" doc:name="File">
		<service-overrides
			messageReceiver="com.wsl.transport.file.LastModifiedFileLastReceiver" />
	</file:connector>
	<flow name="mule-file-connector-service-overridesFlow1" doc:name="mule-file-connector-service-overridesFlow1">
		<file:inbound-endpoint path="${source.directory}"
			connector-ref="file-connector" responseTimeout="10000" doc:name="read-files" />
		<logger message="#[payload]" level="INFO" doc:name="logger" />
		<file:outbound-endpoint connector-ref="file-connector"
			responseTimeout="10000" doc:name="write-files" path="${destination.directory}"
			outputPattern="#[message.inboundProperties.originalFilename].backup" />
	</flow>
</mule>
